<!DOCTYPE html>
<html>
<head>

<title>Log out</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>

body{
    background-image: url("http://i.huffpost.com/gen/2472832/images/o-BLACK-COP-BADGE-facebook.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

h1   {color:#C0C0C0}
p    {color:green}
</style>
</head>
<body>


<h1 align="center">Successfully logged out.</h1>
<h4 align="center">Thank you for using this website.</h4>

<div class="back">
    <a href="/vigilum/login" target="_parent"><button type="button" class="btn btn-default">GO BACK</button></a>
</div>

<style>
    .back{
text-align:center;
}
</style>


</body>
</html>
